body
{
	text-align: center;
	background-color: lightblue;
	word-break: break-all;
	margin; 95%;
}

#explain
{
	font-size: 25px;
}

#text
{
	width: 95%;
	margin-top: 20px;
	margin-bottom: 20px;
}
#score
{
	font-size: 75px;
}
