.dialog {
  border-radius: 8px;
  background-color: #ADD8E6;
  margin: auto;
  text-align: center;
  padding: 10px;
}

#container  {
  width: 920px;
  margin: auto;
}

body  {
  font-family: Tahoma;
  background-image: url("./background.png");
  background-repeat;
}

h1	{
text-align: center;
}

h2  {
text-align: center;
}

h3	{
text-align: center;
}
