/* Credit to some sources (including or maybe exclusively w3schools) for supplying solutions to my issues with HTML!
This site is under the CC-BY-SA 2.5 license
(modified of course)*/
.dialog {
	border-radius: 8px;
	background-color: #ADD8E6;
	margin-left: 7%;
	margin-right: 7%;
	text-align: center;
	padding: 1em;
}

iframe {
	height: auto;
	width: auto;
	max-width: 100%;
}
body {
	font-family: Ubuntu, sans-serif;
	background-image: url("./other/background.png");
	background-size: 150px 150px;
	background-repeat;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}
