body
{
	text-align: center;
	background-color: lightblue;
}

input
{
	font-family: "monospace";
	margin: 3px;
	width: 50%;
	padding: 10px;
	width: 75%;
}

button
{
	font-size: 25px;
	font-family: "Open Sans";
	padding: 10px;
	background-color: lightgreen;
	text-align: center;
	border: none;
}
