body
{
	background-color: lightblue;
}

#passphrase-output
{
	text-align: center;
	font-size: 50px;
	font-family: 'Open Sans';
}

#button
{
	text-align: center;
}

button
{
	font-size: 25px;
	font-family: 'Open Sans';
	height: 150px;
	width: 150px;
	background-color: lightgreen;
	box-shadow: none;
	border-radius: 50%;
	border: none;
	text-align: center;
}
