/* Under CC-0 (basically, you can do anything with it.) */
body
{
	font-family: 'Open Sans';
}
h1
{
	text-align: center;
}
#previous, #next
{
	background-color: black;
	color: white;
	text-decoration: none;
	font-size: 1.5em;
	padding: 0.75em;
	display: block;
}
#previous
{
	float: left;
	text-align: center;
}
#next
{
	float: right;
	text-align: center;
}
#content
{
	margin-left: 3em;
	margin-right: 3em;
}
blockquote
{
	border-left: 0.2em solid black;
	padding-left: 1em;
}
code
{
	border: 0.1em solid black;
	border-radius: 0.5em;
	padding: 0.5em;
	display: block;
	background-color: #E8E8EE;
	font-size: 12px;
}
table
{
	margin: auto;
}
table, td, tr
{
	border: 0.1em solid black;
	border-collapse: collapse;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}
figure
{
	display: block;
	margin: auto;
	text-align: center;
}
img
{
	max-width: 100%;
	height: auto;
	width: auto;
}
