body
{
	font-family: "Open Sans", sans-serif;
}
button
{
	font-family: "Open Sans", sans-serif;
	font-size: 25px;
	height: 125px;
	width: 125px;
	background-color: lightgreen;
	box-shadow: none;
	border-radius: 50%;
	border: none;
	margin: 10px;
}
#buttons2
{
	text-align: center;
}
#timer
{
	font-size: 125px;
	text-align: center;
}
#reset2
{
	background-color: lightblue;
}

