body
{
	background-color: black;
	font-family: "Open Sans", sans-serif;
}

#search
{
	text-align: center;
}

#jump_number
{
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	padding: 15px;
	text-align: center;
	margin: 30px;
	width: 80px;
}

#prev_button, #next_button, #latest_button
{
	text-decoration: none;
}

#top, #number
{
	color: white;
	font-size: 50px;
	text-align: center;
}

#comic
{
	text-align: center;
}

#title
{
	font-size: 50px;
	color: white;
	text-align: center;
	margin: 10px;
}

#hover
{
	font-size: 25px;
	color: white;
	text-align: center;
	margin: 20px;
}

#number
{
	display: inline-block;
}

#img
{
	max-width: 80%;
}

button
{
	font-size: 20px;
	font-family: 'Open Sans';
	background-color: lightgreen;
	box-shadow: none;
	border: none;
	padding: 15px;
}
